.form {
    padding: 20px;
}

.inputContainer {
    composes: measure from 'tachyons/css/tachyons.css';
}

.inputLabel {
    composes: f6 b db mb2 from 'tachyons/css/tachyons.css';
}

.inputLabelSubtitle {
    composes: normal black-60 from 'tachyons/css/tachyons.css';
}

.input {
    composes: input-reset ba b--black-20 pa2 mb2 db w-100 from 'tachyons/css/tachyons.css';
}

.button {
    composes: f6 link dim ph3 pv2 mb2 dib white bg-dark-blue from 'tachyons/css/tachyons.css';
}

.info {
    composes: normal black-60 from 'tachyons/css/tachyons.css';
}
